

video#bgvid { 
	position:			fixed;
	top:				50%;
	left:				50%;
	min-width:			100%;
	min-height:			100%;
	width:				auto;
	height:				auto;
	z-index:			-100;
	-ms-transform:		translateX(-50%) translateY(-50%);
	-moz-transform:		translateX(-50%) translateY(-50%);
	-webkit-transform:	translateX(-50%) translateY(-50%);
	transform:			translateX(-50%) translateY(-50%);
	background:			url(polina.jpg) no-repeat;
	background-size:	cover; 
}


#post-video {
	/* margin-top:			50%; */
	
	/*
	min-height:			100%;
	height:				auto;
	*/
	
	/*height:				calc(100vh - 200px);*/
	height:				100vh;
	
	/*text-align:			center;*/
	
	position:			relative;
}
#post-video h1 {
	font-size:			5.0em;
	text-align:			center;
	
	color:				white;
    text-shadow:		rgba(0, 0, 0, 0.5) 0px 0px 4px;
}
#post-video #post-video-arrow {
	position:			absolute;
	bottom:				250px;
	width:				100%;
	text-align:			center;
	
	color:				white;
    text-shadow:		rgba(0, 0, 0, 0.5) 0px 0px 4px;
}


#barrel-color {
	background-color:	lightgreen;
}
#barrel-color ul {
}
#barrel-color ul li {
	background-color:	lightblue;
	display:			inline-block;
	padding:			2%;
}
#barrel-color ul li:hover {
	background-color:	yellow;
}

