

#fb-share-button {
	display:			none;
}


#customize-container {
	text-align:			center;
	
	padding:			0px 1% 0px 1%;
}
#customize-container h1 {
    /*font-family:		Clarendon-Light;*/
}

#customize-container #case-title {
	margin-bottom:		2%;
}
#customize-container #case-title h1 {
	margin-bottom:		0px;
}
#customize-container #case-title h2 {
	margin:				0px 0px 4% 0px;
	font-weight:		normal;
	font-size:			3.0em;
}
#customize-container #case-title a {
}

#customize-container #case-image {
	float:				left;
	
	/*min-width:			500px;*/
	
	width:				66%;
	
	margin-bottom:		2%;
	
	/*background-color:	lightblue;*/
	
	min-width:			900px;
}
#customize-container #case-image #case-image-top {
	padding:			8% 0px;
	
	box-shadow:			rgba(0, 0, 0, 0.0980392) 0px 0px 4px;
	background:			rgba(255, 255, 255, 1.0); /* 0.6 */
}
#customize-container #case-image #case-image-container {
	position:			relative;
	/*background-color:	lightgreen;*/
	margin:				auto;
	
	width:				900px;
}
#customize-container #case-image #case-image-container img {
	/*display:			block;*/
	margin:				auto;
	
	width:				900px;
}
#customize-container #case-image #case-image-container a#case-image-customize {
	/*
	display:			inline-block;
	background-color:	lightblue;
	padding:			2%;
	*/
	
	position:			absolute;
	top:				75%;
    left:				50%;
    transform:			translate(-50%, -75%);
    
    font-size:			1.5em;
}
#customize-container #case-image #case-image-container a#case-image-customize:hover {
	/*text-decoration:	none;*/
}
#customize-container #case-image #case-image-container a#case-image-customize h1 {
	/*margin:				0px;*/
}


#customize-container #case-addspeaker {
	display:			none;
	
	margin-bottom:		4%;
}
#customize-container #case-addspeaker h1 {
	margin-bottom:		0px;
	font-size:			1.6em;
}
#customize-container #case-addspeaker h2 {
	margin-top:			0px;
	font-size:			1.2em;
}

#customize-container #case-addspeaker .driver-info {
	text-decoration:	none;
	
	display:			inline-block;
	text-align:			center;
	background-color:	white;
	padding:			1%;
	margin:				1%;
	/* float:				left; */
	box-shadow:			rgba(0, 0, 0, 0.0980392) 0px 0px 4px;
}
#customize-container #case-addspeaker .driver-info img {
	width:				150px;
	height:				150px;
}
#customize-container #case-addspeaker .driver-info:hover {
	/* background-color:	yellow; */
}
#customize-container #case-addspeaker .driver-info .name-container {
	color:				black;
	font-size:			1.5em;
	display:			block;
	margin-top:			5px;
}
#customize-container #case-addspeaker .driver-info .watt-container {
	font-size:			0.9em;
	display:			block;
	margin-top:			5px;
}
#customize-container #case-addspeaker .driver-info .price-container {
	font-size:			1.2em;
	display:			block;
	margin-top:			5px;
}
#customize-container #case-addspeaker .driver-info .add-container {
	font-size:			2.0em;
	display:			block;
	margin-top:			5px;
}

#customize-container #case-addspeaker .driver-picker {
	/*display:			none;*/
}


#customize-container #case-information {
	float:				right;
	
	padding:			2%;
	/* div width padding fixes */
	-webkit-box-sizing:	border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing:	border-box; /* Firefox, other Gecko */
	box-sizing:			border-box; /* Opera/IE 8+ */
	
	box-shadow:			rgba(0, 0, 0, 0.0980392) 0px 0px 4px;
	background:			rgba(255, 255, 255, 0.9); /* 0.6 */
	
	text-align:			left;
	
	width:				33%;
	
	margin-bottom:		2%;
}
#customize-container #case-information h1 {
	margin-top:			0;
	font-weight:		normal;
	font-family:		Clarendon-Light;
}
#customize-container #case-information h2 {
	font-size:			1.3em;
	font-weight:		normal;
	color:				black;
	margin-bottom:		0px;
}
#customize-container #case-information hr {
	margin:				10% 0px;
}


.draggable {
	/*float:				left;*/
	
	position:			absolute;
	top:				2%;
	left:				2%; /*40%*/
	
	height:				auto; /* auto 100% */
	/*min-height:			6.5em;*/
	/*margin:				10%;*/
	
	/*background-color:	#29e;*/
	color:				white;
	
	padding:			4%;
	
	/*
	-webkit-transform:	translate(0px, 0px);
			transform:	translate(0px, 0px);
	*/
	
	/*background-color:	white;*/
	/*background-image:	url('/speakeruploads/mid2.jpg');*/
	background-repeat:	no-repeat;
	
	border:				1px solid black;
	
	/*
	width:				200px; * 25% *
	background-size:	200px; *contain cover*
	border-radius:		100px;
	*/
}
.draggable:before{
	content:			"";
	display:			block;
	padding-top:		100%; /* initial ratio of 1:1*/
}
.draggable:hover {
	border:				1px solid yellow;
}
.draggable-inside {
	position:			absolute;
	top:				0;
	left:				0;
	bottom:				0;
	right:				0;
}


#drag-me::before {
	content:			"#" attr(id);
	font-weight:		bold;
}



@media screen and (max-width: 1400px) /* and (orientation: portrait) */ {
	#customize-container #case-image {
		width:			100%;
	}
	#customize-container #case-information {
		width:			100%;
	}
}



