
#fb-share-button {
	display:			none;
}

#page-case {
	text-align:			center;
	
	padding:			0px 1% 0px 1%;
}
#page-case h1 {
    /*font-family:		Clarendon-Light;*/
}

#page-case #case-title {
	margin-bottom:		2%;
}
#page-case #case-title h1 {
	margin:				2% 0px 0px 0px;
}
#page-case #case-title h2 {
	margin:				0px 0px 2% 0px;
	font-weight:		normal;
	font-size:			3.0em;
}
#page-case #case-title a {
}


/* Image and Drivers are in this container*/
#page-case #case-image {
	float:				left;
	
	/*min-width:			500px;*/
	
	width:				66%;
	
	margin-bottom:		2%;
	
	/*background-color:	lightblue;*/
	
	min-width:			800px; /* CHANGE 1/4 */
}


/* ********** ********** ********** ********** ********** ********** ********** ********** ********** ********** */
#page-case #case-image #case-image-top {
	padding:			0 0;
	
	/*box-shadow:			rgba(0, 0, 0, 0.0980392) 0px 0px 4px;*/
	/*background:			rgba(255, 255, 255, 1.0);*/ /* 0.6 */
}
#page-case #case-image #case-image-container {
	position:			relative;
	/*background-color:	lightgreen;*/
	margin:				auto;
	
	width:				800px; /* CHANGE 2/4 */
}
#page-case #case-image #case-image-container img {
	/*display:			block;*/
	margin:				auto;
	
	box-shadow:			rgba(0, 0, 0, 0.1) 0px 0px 4px;
	-webkit-box-shadow:	rgba(0, 0, 0, 0.1) 0px 0px 4px;
	-moz-box-shadow:	rgba(0, 0, 0, 0.1) 0px 0px 4px;
	
	width:				800px; /* CHANGE 3/4 */
}
#page-case #case-image #case-image-container a#case-image-customize {
	/*
	display:			inline-block;
	background-color:	lightblue;
	padding:			2%;
	*/
	
	position:			absolute;
	top:				75%;
    left:				50%;
    transform:			translate(-50%, -75%);
    
    font-size:			1.5em;
}
#page-case #case-image #case-image-container a#case-image-customize:hover {
	/*text-decoration:	none;*/
}
#page-case #case-image #case-image-container a#case-image-customize h1 {
	/*margin:				0px;*/
}
/* ********** ********** ********** ********** ********** ********** ********** ********** ********** ********** */




/* ********** ********** ********** ********** ********** ********** ********** ********** ********** ********** */
#page-case #case-addspeaker {
	display:			none;
	
	/*
	float:				right;
	width:				33%;
	*/
	
	margin-bottom:		4%;
	
	/* min-width:			500px; */
	margin-left:		800px; /* CHANGE 4/4 */
}
#page-case #case-addspeaker h1 {
	margin-bottom:		0px;
	font-size:			1.6em;
}
#page-case #case-addspeaker h2 {
	margin-top:			0px;
	font-size:			1.2em;
}

#page-case #case-addspeaker .driver-info {
	text-decoration:	none;
	
	display:			inline-block;
	text-align:			center;
	background-color:	white;
	padding:			1%;
	margin:				1%;
	/* float:				left; */
	
	box-shadow:			rgba(0, 0, 0, 0.1) 0px 0px 4px;
	-webkit-box-shadow:	rgba(0, 0, 0, 0.1) 0px 0px 4px;
	-moz-box-shadow:	rgba(0, 0, 0, 0.1) 0px 0px 4px;
}
#page-case #case-addspeaker .driver-info img {
	width:				150px;
	height:				150px;
}
#page-case #case-addspeaker .driver-info:hover {
	/* background-color:	yellow; */
}
#page-case #case-addspeaker .driver-info:hover .name-container  {
	text-decoration:	underline;
}
#page-case #case-addspeaker .driver-info .name-container {
	color:				black;
	font-size:			1.5em;
	display:			block;
	margin-top:			5px;
}
#page-case #case-addspeaker .driver-info .watt-container {
	font-size:			0.9em;
	display:			block;
	margin-top:			5px;
}
#page-case #case-addspeaker .driver-info .price-container {
	font-size:			1.2em;
	display:			block;
	margin-top:			5px;
}
#page-case #case-addspeaker .driver-info .add-container {
	font-size:			2.0em;
	display:			block;
	margin-top:			5px;
	
	display:			none;
}

#page-case #case-addspeaker .driver-picker {
	/*display:			none;*/
}
/* ********** ********** ********** ********** ********** ********** ********** ********** ********** ********** */






/* ********** ********** ********** ********** ********** ********** ********** ********** ********** ********** */
#page-case #case-information {
	float:				right;
	
	padding:			2%;
	/* div width padding fixes */
	-webkit-box-sizing:	border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing:	border-box; /* Firefox, other Gecko */
	box-sizing:			border-box; /* Opera/IE 8+ */
	
	box-shadow:			rgba(0, 0, 0, 0.1) 0px 0px 4px;
	-webkit-box-shadow:	rgba(0, 0, 0, 0.1) 0px 0px 4px;
	-moz-box-shadow:	rgba(0, 0, 0, 0.1) 0px 0px 4px;
	
	background:			rgba(255, 255, 255, 0.9); /* 0.6 */
	
	text-align:			left;
	
	width:				33%;
	
	margin-bottom:		2%;
}
#page-case #case-information h1 {
	margin-top:			0;
	font-weight:		normal;
	font-family:		Clarendon-Light;
}
#page-case #case-information h2 {
	font-size:			1.1em;
	font-weight:		normal;
	color:				black;
	margin-bottom:		0px;
}
#page-case #case-information hr {
	display:			block;
    height:				1px;
    border:				0;
    border-top:			1px solid #ccc;
    margin:				1em 0;
    padding:			0;
}
/* ********** ********** ********** ********** ********** ********** ********** ********** ********** ********** */







#page-case .draggable {
	/*float:				left;*/
	
	position:			absolute;
	top:				2%;
	left:				2%; /*40%*/
	
	height:				auto; /* auto 100% */
	/*min-height:			6.5em;*/
	/*margin:				10%;*/
	
	/*background-color:	#29e;*/
	color:				white;
	
	padding:			4%;
	
	/*
	-webkit-transform:	translate(0px, 0px);
			transform:	translate(0px, 0px);
	*/
	
	/*background-color:	white;*/
	/*background-image:	url('/speakeruploads/mid2.jpg');*/
	background-repeat:	no-repeat;
	
	border:				1px solid black;
	
	/*
	width:				200px; * 25% *
	background-size:	200px; *contain cover*
	border-radius:		100px;
	*/
}
#page-case .draggable:before{
	content:			"";
	display:			block;
	padding-top:		100%; /* initial ratio of 1:1*/
}
#page-case .draggable:hover {
	border:				1px solid yellow;
}
#page-case .draggable-inside {
	position:			absolute;
	top:				0;
	left:				0;
	bottom:				0;
	right:				0;
}


#page-case #drag-me::before {
	content:			"#" attr(id);
	font-weight:		bold;
}


@media screen and (max-width: 1240px) /* and (orientation: portrait) */ {
	#page-case #case-image {
		width:			100%;
	}
	#page-case #case-information {
		width:			60%;
		padding:		4%;
		
		clear:			both;
		float:			none;
		margin:			auto;
	}
}
@media screen and (max-width: 1270px) {
	#page-case #case-image {
		width:			100%;
		/*float:			none;*/
		/*clear:			both;*/
	}
	#page-case #case-addspeaker {
		clear:			both;
		margin-left:	0px;
	}
}

