

/*@import url("/resources/stylesheets/formcasedriver.css");*/


#fb-share-button {
	display:			none;
}


#page-dashboard .case-block {
	display:			inline-block;
	text-align:			center;
	background-color:	white;
	padding:			1%;
	margin:				1%;
	/* float:				left; */
	box-shadow:			rgba(0, 0, 0, 0.0980392) 0px 0px 4px;
}
#page-dashboard .case-block img {
	width:				200px;
	height:				200px;
}
#page-dashboard .case-block:hover {
	/* background-color:	yellow; */
}
#page-dashboard .case-block .name-container {
	color:				black;
	font-size:			1.5em;
	display:			block;
	margin-top:			5px;
}
#page-dashboard .case-block .watt-container {
	font-size:			0.9em;
	display:			block;
	margin-top:			5px;
}
#page-dashboard .case-block .price-container {
	font-size:			1.2em;
	display:			block;
	margin-top:			5px;
}

#page-dashboard .dashboard-section {
	text-align:			center;
}

