

#page-formcasedriver {
}


#page-formcasedriver {
	/*font-size:		0.8em;*/
	/*margin:			0px 2% 0px 2%;*/
	margin:				auto;
	
	width:				75%;
	/*min-width:		600px;*/
	
	text-align:			left;
}
#page-formcasedriver form {
}
#page-formcasedriver form h2 {
	margin:				0px;
	padding-top:		1%;
}
#page-formcasedriver form fieldset {
	background-color:	rgba(255, 255, 255, 0.25);
	border-radius:		5px;
}
#page-formcasedriver form legend {
	font-size:			2.0em;
	color:				black;
}
#page-formcasedriver form label {
	clear:				both;
	
	font-size:			1.5em;
	display:			block;
	color:				black;
	
	padding-top:		2%;
}
#page-formcasedriver form input,
#page-formcasedriver form textarea {
	font-size:			1.5em;
	width:				100%;
	padding:			1%;
}
#page-formcasedriver form textarea {
	height:				100px;
}
#page-formcasedriver form input[type=submit] {
	margin-top:			4%;
}
#page-formcasedriver form input[type=checkbox] {
	float: left;
	
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	padding: 10px;
}

