



/* families": ["Clarendon-Medium", "Clarendon-Light", "Clarendon-Xbold"] */
/* http://dhdg4tktn3ydk.cloudfront.net/ */
/* Clarendon-Medium webfont (new-bulletproof) */ 
@font-face {
	font-family: 'Clarendon-Medium';
	src:	url('/Clarendon-Medium.eot?#iefix') format('embedded-opentype'),
			url('/Clarendon-Medium.woff') format('woff'),
			url('/Clarendon-Medium.ttf')  format('truetype'),
			url('/Clarendon-Medium.svg#webfont') format('svg');
}
/* Clarendon-Light webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Clarendon-Light';
    src: url('/Clarendon-Light.eot?#iefix') format('embedded-opentype'),
         url('/Clarendon-Light.woff') format('woff'),
         url('/Clarendon-Light.ttf')  format('truetype'),
         url('/Clarendon-Light.svg#webfont') format('svg');
}
/* Clarendon-Xbold webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Clarendon-Xbold';
    src: url('/Clarendon-Xbold.eot?#iefix') format('embedded-opentype'),
         url('/Clarendon-Xbold.woff') format('woff'),
         url('/Clarendon-Xbold.ttf')  format('truetype'),
         url('/Clarendon-Xbold.svg#webfont') format('svg');
}



html {
	/*height:				100%;*/
}
body {
	/*height: 100%;*/
	
	margin:				0px;
	
	background-image:	url(/background.jpg);
	background-color:	rgb(238, 238, 238);
	background-position:0px 0px;
	background-repeat:	repeat;
    
	color:				rgb(102, 102, 102);
	font-family:		Clarendon-Light;
}
h1 {
	color:				black;
	font-family:		Clarendon-Xbold;
	
    /*text-shadow:		rgba(255, 255, 255, 0.2) 0px 0px 4px;*/
}
a {
	text-decoration:	none;
	color:				rgb(102, 102, 102);
}
a:hover {
	text-decoration:	underline;
	color:				black;
}


#header-container {
	margin:				0px 1% 0px 1%;
	padding:			10px 10px 10px 10px;
	
	/*background-color:	lightgrey;*/
	background-color:	rgba(255, 255, 255, 0.9); /* 0.952941 */
	box-shadow:			rgba(0, 0, 0, 0.2) 0px 0px 4px;
	
	/*position:			relative;*/
	/*height:				200px;*/
}


#header-container #logo-container {
	/*padding-top:		2%;*/
	
	/*background-color:	lightblue;*/
	/*height:				100%;*/
	width:				125px;
	float:				left;
	
	/*
	margin:				auto;
	position:			absolute;
	top:				0;
	bottom:				0;
	
	width:				125px;
	
	max-height:			100%;
	max-width:			100%;
	*/
	
	/*vertical-align:		middle;*/
}
#header-container #logo-container img {
	/*margin-top:			10px;*/
	vertical-align:		middle;
}


#header-container ul,
#footer-container ul {
	margin:				0px;
	padding:			10px 0px 10px 0px;
}
#header-container ul li,
#footer-container ul li {
	display:			inline;
}


#header-container #social-media-container {
	/*background-color:	lightblue;*/
	
	text-align:			right;
	font-size:			0.7em;
	
	/* margin-left:		125px; */
	
}
#footer-container #social-media-container {
	font-size:			0.7em;
}
#header-container #social-media-container ul,
#footer-container #social-media-container ul {
	padding:			0px;
}
#header-container #social-media-container ul li,
#footer-container #social-media-container ul li {
    margin:				0px 5px;
}
#header-container #social-media-container ul li a,
#footer-container #social-media-container ul li a {
	text-decoration:	none;
}
#header-container #social-media-container ul li a:hover,
#footer-container #social-media-container ul li a:hover {
	text-decoration:	none;
}
#header-container #social-media-container ul li span.social-label,
#footer-container #social-media-container ul li span.social-label {
	display:			none;
}


#header-container #navigation-bar-container {
	text-align:			center;
	
	font-size:			0.8em;
	
	/* margin-left:		125px; */
}
#header-container #navigation-bar-container ul li {
	/*font-weight:		bold;*/
	font-family:		Clarendon-Medium;
    text-transform:		uppercase;
    margin:				0px 10px;
}
#header-container #navigation-bar-container ul li a {
	/*color:				black;*/
	text-decoration:	none;
}
#header-container #navigation-bar-container ul li a:hover {
	color:				black;
	
	text-decoration:	underline;
}


#stylesheet-picker {
	margin-right:		1%;
	text-align:			right;
}


#footer-container {
	clear:				both;
	overflow:			hidden;
	
	/* background-color:	lightgrey; */
	padding:			0px 0px 2% 5%;
	
	box-shadow:			rgba(0, 0, 0, 0.0980392) 0px 0px 4px;
	background:			rgba(255, 255, 255, 0.9); /* 0.6 */
	
	margin:				4% 1% 0px 1%;
}
#footer-container .three-column {
	/*background-color:	lightblue;*/
	
	width:				30%;
	
	float:				left;
}
#footer-container #quick-links {
}
#footer-container #quick-links ul {
	padding:			0px;
}
#footer-container #quick-links ul li {
	display:			block;
	margin:				0px 0px 2% 2%;
}
#footer-container #follow-us {
	margin:				0px 2%;
}
#footer-container #newsletter-signup {
}
#footer-container #newsletter-signup form {
	margin-top:			5%;
}
#footer-container #newsletter-signup form input {
	width:				100%;
	font-size:			1.5em;
}


#footer-container-2 {
	clear:				both;
	
	margin-top:			4%;
}
#footer-container-2 #payment-cards {
	text-align:			center;
}
#footer-container-2 #copyright-container {
	text-align:			center;
	
	margin-top:			2%;
}


#play-loud {
	background-color:	white;
	text-align:			center;
	
	padding:			4% 0px 0px 0px;
	
	overflow:			hidden;
}
#play-loud img {
	width:				300px;
}
#play-loud h1 {
	font-size:			4.0em;
}
#play-loud #cases-lineup {
	min-height:			350px;
	
	background-image:	url('/background-cases.jpg');
	background-repeat:	repeat-x;
	
	/*
	border-color:		#ddd;
	border-width:		0 0 10px 0;
	border-style:		solid;
	*/
	
	/*background-attachment:	scroll; */
	background-position:		-20% 100%;
	
	box-shadow:			rgba(0, 0, 0, 0.0980392) 0px 0px 4px;
}



